<% include partials/header %>
 <div class="container"> 
  <header class="jumbotron">      <!-- Bootstrap object jumbotron SEE THIS ALSO!!--> <!--Dont know why but <header> should be followed by some spaces -->
  	 <h1>Welcome To YelpCamp</h1>
  </header>
<p>Welcome!!</p>

<a href="/campgrounds">Veiw all Campgrounds!!</a>
 </div>
<% include partials/footer %>