<% include partials/header %>

<h1 style="text-align: center;">Login Here</h1>
<div style="width: 30%; margin:25px auto;">
	<form action="/login" method="POST">
		<input name="username" placeholder="username" type="text">
		<input name="password" plasceholde="password" type="password">
		<button class="btn btn-primary">Submit</button>
	</form>
</div>	

<% include partials/footer %>
