<% include partials/header %>
<div class="container">
	<div class="thumbnail">
		<h1><%= campground.name %></h1>
		<img src="<%= campground.image%>">
		<p><%= campground.Description %></p>
	</div>
</div>
<% include partials/footer %>
